name: Playwright Tests
on:
  push:
    branches:
        - master
  pull_request:
    branches:
        - master
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 18
    - uses: microsoft/playwright-github-action@v1
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright Regression tests
      run: npm run Regression
    - uses: actions/upload-artifact@master
      if: ${{ always() }}
      with:
        name: allure-results
        path: allure-results
        retention-days: 30
    - name: Get Allure history
      uses: actions/checkout@v2
      if: ${{ always() }}
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages
    
    - name: Test marketplace action
      uses: simple-elf/allure-report-action@master
      if: ${{ always() }}
      id: allure-report
      with:
        allure_results: allure-results
        gh_pages: gh-pages
        allure_report: allure-report
        allure_history: allure-history
        keep_reports: 20

    - name: Deploy report to Github Pages
      if: ${{ always() }}
      uses: tgaliya/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: allure-history